
/* 
    Created on : 24 may 2023, 20:53:17
    Author     : renan
*/
p{
    background: orange;
    font: white;
    text-align: center;
    front-size: 20px;
    
}
h2{
   width: 10%;
   height: 100%;
   padding-right: 10px;
   float:left;
   front-style:italic;
   background-color: red;
}
h5{
     text-align: center;
}